.cabinet-info {


    .detail-data {
        border: 1px solid #efefef;
        .main-title {
            font-size: 18px;
            padding: 5px 0;
            margin: 0;
            background: $headerBackgroundColor;
            color: white;
        }
    }

    ul.detail-data-list {
        margin: 0;
        margin-bottom: 0.5rem;
        padding: 15px;
        height: auto;
        list-style-type: none;
        overflow: hidden;

        // li:nth-child(2n) {
        //     border-left: 1px solid #efefef;   
        // }

        li {
            border: 1px solid #efefef;   
            border-collapse: collapse;
            list-style: none;
            float: left;
            width: 50%;
            font-size: 15px;
            padding: 5px 10px;

            .fa-custom {
                font-size: 20px;
                float: left;
            }
            .fa-custom.fa-check-circle {
                color: $green;
            }
            .fa-custom.fa-times-circle {
                color: $red;
            }

            .title {
                font-weight: bold;
                margin: 2px;
            }

            .content {
                font-weight: normal;
                margin: 2px;
            }
        }
    }
}