.intro {
    background: url('/images/backgrounds/intro.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
    height: 100vh;
}

.intro-cover {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.btn-login {
    position: fixed;
    top: 10px;
    right: 10px;
}

.btn-register {
    position: fixed;
    top: 10px;
    right: 80px;
}


.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    h1 {
        font-size: $title-font-size;
        color: $title-font-color;
    }

    .startItems {
        padding: 0 15px;
        position: absolute;
        top: 40%;
    }

    .reservation-form {
        h3 {
            color: white;
        }
        margin: 20px;
        width: 50%;
    }

}

.full-width {
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
}

.registration-window {
    padding: 15px 0;
    margin: 45px 0;
    border: 1px solid #eaeaea;
}