/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    position: relative;
    min-width: 150px;
    max-width: 100%;
    // max-width: 100%;
    background: $headerBackgroundColor;
    color: #fff;
    transition: all 0.3s;
    min-height: 100vh;
    height: 100%;


    // .active {
    //     margin-left: -250px;
    // }

    .sidebar-header {
        padding: 20px;
        background: $headerBackgroundColor;
    }
    
    ul.components {
        padding: 20px 0;
        // border-bottom: 1px solid #47748b;
    }
    
    ul p {
        color: #fff;
        padding: 10px;
    }
    
    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    
    ul li a:hover {
        // color: #7386D5;
        // background: #fff;
    }
    
    ul li.active>a, a[aria-expanded="true"] {
        color: #fff;
        background: $headerActivePageColor;
    }



    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: $headerActivePageColor;
    }
    
    ul.CTAs {
        padding: 20px;
    }
    
    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        // position: relative;
    }
}